---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import StudentsTable from "@components/StudentsTable.astro";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import PointHistoryTable from "@components/PointHistoryTable.astro";

const teams = await getCollection("teams");

export function getStaticPaths() {
  return teams.map((team) => ({ params: { id: team.id } }));
}

const { id } = Astro.params;

const team = teams.find((team) => team.id === id);
if (!team) {
  return { status: 404 };
}

const studentsCollection = await getEntries(team.data.students);
const students = studentsCollection.map((student) => {
  return {
    full_name: student.data.first_name + " " + student.data.last_name,
    grade: student.data.grade,
  };
});

const pointEventsCollection = await getEntries(team.data.point_events);
const pointEvents = pointEventsCollection.map((pointEvent) => {
  return {
    name: pointEvent.data.name,
    description: pointEvent.data.description,
    points: pointEvent.data.points,
    date: pointEvent.data.date,
  };
});
---

<Layout title=`${team.data.name} - Teams`>
  <Header title={team.data.name} />
  <main>
    <section class="tables">
      <StudentsTable {students} />
      <PointHistoryTable {pointEvents} />
    </section>
  </main>
</Layout>

<style>
  .tables {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  @media screen and (min-width: 620px) {
    .tables {
      flex-direction: row;
    }
  }
</style>
