---
import Layout from "@layouts/Layout.astro";
import TeamCard from "@components/TeamCard.astro";
import Header from "@components/Header.astro";
import MyChart from "@components/Chart.tsx";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import type { TeamCardData } from "@lib/types";

const teamsCollection = await getCollection("teams");
const teams: TeamCardData[] = await Promise.all(
  teamsCollection.map(async (team) => {
    const id = team.id;
    const name = team.data.name;
    const color = team.data.color;
    const point_events = await getEntries(team.data.point_events);
    const points = point_events.reduce(
      (acc, event) => acc + event.data.points,
      0,
    );

    return { id, name, color, points };
  }),
);
---

<Layout title="Welcome to Astro.">
  <Header title="Teams" />
  <main>
    <section class="teams">
      {teams.map((team) => <TeamCard {...team} />)}
    </section>

    <section class="chart">
      <h2>Points Over Time</h2>
      <MyChart client:load />
    </section>
  </main>
</Layout>

<style>
  .teams {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .chart {
    min-height: 300px;
    background-color: var(--foreground);
    padding: 0.8rem 1rem;
    grid-column: span 4;
  }

  /* small tablet styles */
  @media screen and (min-width: 620px) {
    .teams {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  /* large tablet/laptop styles */
  @media screen and (min-width: 960px) {
    .teams {
      grid-template-columns: repeat(10, 1fr);
      gap: 2rem;
    }

    .chart {
      margin: 1rem auto;
      flex-grow: 0;
      border: 3px solid var(--border);
      border-radius: 20px;
      width: clamp(500px, 80%, 900px);
    }
  }
</style>
