---
import "@fontsource-variable/dm-sans";
import "@fontsource/dm-mono/500.css";
import "@fontsource/dm-serif-display";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* variables */
  :root {
    --primary: #9b84ee;
    --primary-content: #210e65;
    --primary-dark: #7757e8;
    --primary-light: #bfb1f4;

    --secondary: #ee84d7;
    --secondary-content: #650e52;
    --secondary-dark: #e857c8;
    --secondary-light: #f4b1e6;

    --background: #18161d;
    --foreground: #24212b;
    --border: #3b3848;

    --copy: #fbfbfc;
    --copy-light: #d6d4de;
    --copy-lighter: #9f9bb1;

    --success: #84ee84;
    --warning: #eeee84;
    --error: #ee8484;
    --success-content: #0e650e;
    --warning-content: #65650e;
    --error-content: #650e0e;

    --header-font: "DM Serif Display", serif;
    --text-font: "DM Sans Variable", sans-serif;
    --number-font: "DM Mono", monospace;
  }

  /* mini reset */
  body {
    margin: 0;
    background-color: var(--background);
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: unset;
  }

  /* text styles */
  h2 {
    color: var(--copy-light);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1.5em;
  }

  /* responsive */
  @media screen and (min-width: 1280px) {
    html {
      font-size: 1.24rem;
    }
  }
</style>
